*.jar
out/
  [0m[1;37m       _,met$$$$$gg.           [0m[1;31mandroid[0m[1m@[0m[0m[1;31mxeon[0m
  [0m[1;37m    ,g$$$$$$$$$$$$$$$P.       [0m[1;31m OS:[0m Debian 9.2[0m
  [0m[1;37m  ,g$$P""       """Y$$.".     [0m[1;31m Kernel:[0m x86_64 Linux 3.16.0-4-amd64[0m
  [0m[1;37m ,$$P'              `$$$.     [0m[1;31m Uptime:[0m 3h 25m[0m
  [0m[1;37m',$$P       ,ggs.     `$$b:   [0m[1;31m Packages:[0m 2084[0m
  [0m[1;37m`d$$'     ,$P"'   [0m[1;31m.[0m[1;37m    $$$    [0m[1;31m Shell:[0m bash 4.4.12[0m
  [0m[1;37m $$P      d$'     [0m[1;31m,[0m[1;37m    $$P    [0m[1;31m Resolution:[0m 1600x900[0m
  [0m[1;37m $$:      $$.   [0m[1;31m-[0m[1;37m    ,d$$'    [0m[1;31m DE:[0m Gnome 3.14.0[0m
  [0m[1;37m $$\;      Y$b._   _,d$P'     [0m[1;31m WM:[0m GNOME Shell[0m
  [0m[1;37m Y$$.    [0m[1;31m`.[0m[1;37m`"Y$$$$P"'         [0m[1;31m WM Theme:[0m Adwaita[0m
  [0m[1;37m `$$b      [0m[1;31m"-.__              [0m[1;31m GTK Theme:[0m Adwaita [GTK2/3][0m
  [0m[1;37m  `Y$$                        [0m[1;31m Icon Theme:[0m Adwaita[0m
  [0m[1;37m   `Y$$.                      [0m[1;31m Font:[0m Cantarell 11[0m
  [0m[1;37m     `$$b.                    [0m[1;31m CPU:[0m 2x Intel Xeon CPU E5405 @ 1.995GHz[0m
  [0m[1;37m       `Y$$b.                 [0m[1;31m GPU:[0m Gallium 0.4 on llvmpipe (LLVM 3.5, 128 bits)[0m
  [0m[1;37m          `"Y$b._             [0m[1;31m RAM:[0m 2582MiB / 7997MiB[0m
  [0m[1;37m              `""""           [0m
                                [0m
